.list {
    display: flex;
}

.item {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in;
}

.item:not(:last-child) {
    margin-right: 40px;
}

.item:hover,
.item:has(> .link:focus) {
    border-bottom: 2px solid #3d3d3d;
}

.link {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.03rem;
    transition: color 0.3s ease-in;
}

.item:hover .link,
.link:focus {
    color: #b1b1b1;
}

.nav-tablet {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    min-height: 660px;
    padding-top: 135px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 42px;
    margin-bottom: 0;
    z-index: 10;
    transition: right 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-tablet .list {
    flex-direction: column;
}


/* NAV TABLET OPEN */

.nav-open {
    right: 0;
}

.nav-tablet .list {
    align-items: flex-end;
}

.nav-tablet .item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
}

.nav-tablet .item {
    font-size: 20px;
}

/* NAV MOBILE OPEN */

@media (max-width: 1440px) {
    .item:not(:last-child) {
        margin-right: 30px;
    }
}
@media (max-width: 1024px) {
    .link {
       font-size: 20px;;
    }
    .nav-tablet {
        padding-right: 15px;
    }
}
@media (max-width: 768px) {
    .nav-tablet {
       width: 100%;
    }
}
@media (max-width: 440px) {
    .nav-tablet {
       min-height: 500px;
       padding-top: 80px;
    }
}